* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas1 {
}

.controls {

}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

input {
    width: 85%
    
}

.controls > label {
    width: 35%;
    color: black;
    font-size: 15px;
}

.imgControls {
    display: flex;
    height: 50px;
    margin-top: 5px;
}

.imgUploadBtn {
    width: 14%;
}

.w-full {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}